<div class="container">
  <h1>All the Chickens</h1>
  <% if @chickens.empty? %>
    <p>No chicken created for now</p>
  <% else %>
    <div class="row">
    <% @chickens.each do |chicken| %>
      <div class="col col-md-4">
        <h2><%= link_to chicken.name, chicken_path(chicken) %></h2>
        <p>BirthDate: <%= chicken.birthdate %></p>
        <p>Color: <%= chicken.color %></p>
        <p>Species: <%= chicken.species %></p>
        <p>Gender: <%= chicken.gender %></p>
        <p>Price: <%= chicken.price %> € per day</p>
        <p>Photo: <%= cl_image_tag(chicken.photo, width:'100%') %></p>
        <p>Presentation: <%= chicken.presentation %></p>
        <p>Address: <%= chicken.address %></p>
        <div class="row">
          <div class="col-3">
            <%= cl_image_tag(chicken.owner.avatar, width: 50, height: 50, crop: :fill, class:'image') %>
          </div>
          <div class="col-9">
            Owner: <%= chicken.owner.fullname %></p>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  <% end %>
</div>
