<div class="container main-container">
  <div class="container main-description-container card">
    <div class="container description-container">
      <div class="img-thumbnail photo">
        <%= cl_image_tag(@chicken.photo, class: 'img') %>
      </div>
      <div class="carac">
        <p id="name"><i class="fas fa-drumstick-bite"></i>  <%= @chicken.name %></p>
        <p id="price"><%= @chicken.price %>€/day</p>
        <p><i class="fas fa-paint-brush"></i>  <%= @chicken.color %></p>
        <p><i class="fas fa-feather"></i>  <%= @chicken.species %></p>
        <p><i class="fas fa-map-marked-alt"></i>  <%= @chicken.address %></p>

      </div>
    </div>
    <div class="container presentation-container">
        <p><%= @chicken.presentation %></p>
    </div>
  </div>
  <div class="container booking-container">
    <div class="booking-validation">
      <%= simple_form_for(@booking, as: :booking, method: :post, url: chicken_bookings_path(@chicken)) do |f| %>
        <% if @booking.errors.any? %>
          <p class="text-danger"><%= @booking.errors[:chicken].first  %></p>
        <% end %>
        <div class=" form-inputs d-flex justify-content-between">
          <%= f.input :start_date, required: true, as: :string, input_html: {type: :date} %>
          <%= f.input :end_date, required: true, as: :string, input_html: {type: :date} %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Book ta poule", class: "btn button-primary" %>
        </div>
      <% end %>
      <div class="mt-5">
        <h2>Réservations</h2>
        <% if @chicken.bookings.empty? %>
          <p>Pas de réservation pour le moment. Cette poule est dipo !!</p>
        <% else %>
          <ul>
          <% @chicken.bookings.each do |booking| %>
            <li>Du <%= booking.start_date %> au <%= booking.end_date %></li>
          <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
