<div class="box">
  <div class="one">
    <div class="card">
      <h1 class="card-header"><%= @chicken.name %> - <%= @chicken.species %></h1>
        <div class="card-body">
          <h2 class="card-title">Color: <%= @chicken.color %></h2>
          <p class="card-text"><%= @chicken.presentation %></p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
  </div>
  <div class="two">
    <%= cl_image_tag(@chicken.photo) %>
  </div>
</div>

<div class="box">
  <div class="one">three</div>
  <div class="two">four</div>
</div>


<!--   <div class="card">
    <h1 class="card-header"><%= @chicken.name %> - <%= @chicken.species %></h1>
    <div class="card-body">
      <h2 class="card-title">Color: <%= @chicken.color %></h2>
      <p class="card-text"><%= @chicken.presentation %></p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div> -->
<!-- </div>
</div>

<div class="two">
  <p><%= cl_image_tag(@chicken.photo) %></p>
</div>
 -->
<!--
<div class="container">
  <h1><%= @chicken.name %></h1>
  <p>BirthDate: <%= @chicken.birthdate %></p>
  <p>Color: <%= @chicken.color %></p>
    <p>Gender: <%= @chicken.gender %></p>
  <p>Price: <%= @chicken.price %> € per day</p>
  <p>Presentation: </p>
  <p>Address: <%= @chicken.address %></p>
  <div class="row">
    <div class="col-3">
      <%= cl_image_tag(@chicken.owner.avatar, width: 50, height: 50, crop: :fill, class:'image') %>
    </div>
    <div class="col-9">
      Owner: <%= @chicken.owner.fullname %></p>
    </div>
  </div>
</div> -->
<!-- </div> -->
