<div class="row">
<div class="box">
  <div class="one">
    <div class="card">
      <h1 class="card-header"><%= @chicken.name %> - <%= @chicken.species %></h1>
        <div class="card-body">
          <h2 class="card-title">Couleur: <%= @chicken.color %></h2>
          <p class="card-text"><%= @chicken.presentation %></p>
          <span><%= link_to "Réserve ta poule", bookings_path, class: "btn button-primary-card" %></span>
        </div>
    </div>
  </div>
  <div class="two">
    <%= cl_image_tag(@chicken.photo) %>
  </div>
</div>
</div>
