<div class="container main-container all-bookings">
  <div class="container">
    <div class="formfield-select">
      <div class="switch-bookings mb-5">
        <select onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
          <option value="/bookings">Réservations (comme locataire)</option>
          <option value="/owner/bookings" selected="selected">Réservations (comme propriétaire)</option>
        </select>
      </div>
    </div>
    <% if @bookings.empty? %>
      <p class="text-center">Désolé... personne ne veut de vos poules...</p>
      <p class="text-center mt-5 mb-5"><%= image_tag "nobookingyet.gif" %></p>
    <% else %>

      <div class="tabs">
        <input name="tabs" type="radio" id="pending" checked="checked" class="input"/>
        <label for="pending" class="label">En attente (<%= @bookings_pending.count %>)</label>
        <div class="panel">
          <% if @bookings_pending.empty? %>
            <p>Aucune réservation en attente.</p>
          <% else %>
            <% @bookings_pending.each do |booking| %>
              <%= render partial: 'shared/booking_card', locals: {booking: booking, user: "owner"} %>
            <% end %>
          <% end %>
        </div>

        <input name="tabs" type="radio" id="accepted" class="input"/>
        <label for="accepted" class="label">Acceptées (<%= @bookings_accepted.count %>)</label>
        <div class="panel">
          <% if @bookings_accepted.empty? %>
            <p>Aucune réservation acceptée.</p>
          <% else %>
            <% @bookings_accepted.each do |booking| %>
              <%= render partial: 'shared/booking_card', locals: {booking: booking, user: "owner"} %>
            <% end %>
          <% end %>
        </div>

        <input name="tabs" type="radio" id="rejected" class="input"/>
        <label for="rejected" class="label">Refusées (<%= @bookings_rejected.count %>)</label>
        <div class="panel">
          <% if @bookings_rejected.empty? %>
            <p>Aucune réservation refusée.</p>
          <% else %>
            <% @bookings_rejected.each do |booking| %>
              <%= render partial: 'shared/booking_card', locals: {booking: booking, user: "owner"} %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
