<div class="container main-container">
  <div class="container">
    <h1>Réservations en cours</h1>
    <% if @bookings.empty? %>
      <p class="text-center">No booking for now.</p>
      <p class="text-center mt-5 mb-5"><%= image_tag "nobookingyet.gif" %></p>
    <% else %>
      <% @bookings.each do |booking| %>
      <div class="card-product">
        <%= cl_image_tag(booking.chicken.photo, width: 150) %>
        <div class="card-product-infos">
          <h2>Réservé par : <%= booking.user.fullname%></h2>
          <p>Du <%= booking.start_date.strftime("%d/%m/%Y") %> au <%= booking.end_date.strftime("%d/%m/%Y") %> inclus.</p>
        </div>
        <div class="container card-price">
          <div class="price">
            <p><%= booking.total_price %> €</p>
          </div>
        </div>
        <div class="container card-status">
          <div class="button-status">
            <% if booking.status == 'En attente' %>
              <%= link_to 'Accepter', accept_owner_booking_path(booking), method: :patch, class: "btn btn-validate"%>
              <%= link_to 'Refuser', decline_owner_booking_path(booking), method: :patch, class: "btn btn-decline"%>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
