<div class="container">
  <h1>My bookings</h1>
  <% if @bookings.empty? %>
    <p>No booking for now.</p>
  <% else %>
    <div class="bookings">
      <% @bookings.each do |booking| %>
      <div class="card-booking" style="border:1px; width: 30%">
        <p>Status: <%= booking.status %></p>
        <p>start_date : <%= booking.start_date %></p>
        <p>end_date: <%= booking.end_date %></p>
        <p>total_price: <%= booking.total_price %></p>
        <p>user: <%= booking.user.fullname %></p>
        <p>user avatar: <%= cl_image_tag(booking.user.avatar, width: 150, height: 150, crop: :thumb, gravity: :face) %></p>
        <p>chicken name: <%= booking.chicken.name %></p>
        <p>chicken photo: <%= cl_image_tag(booking.chicken.photo, width: 100) %></p>
        <p>Owner name: <%= booking.chicken.owner.fullname %></p>
        <p>Owner photo: <%= cl_image_tag(booking.chicken.owner.avatar, width: 150, height: 150, crop: :thumb, gravity: :face) %></p>
      </div>
      <% end %>
    </div>
  <% end %>
</div>
