<div class="container">
  <div class="row justify-content-center">
    <div class="col col-md-6">
      <h1>Book ta poule now !</h1>
      <%= simple_form_for @booking do |f| %>
        <div class=" form-inputs">
          <%= f.input :name %>
          <%= f.input :color %>
          <%= f.input :species %>
          <%= f.input :gender, collection: ['male', 'female'] %>
          <%= f.input :price %>
          <%= f.input :birthdate %>
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
          <%= f.input :presentation, as: :text %>
          <%= f.input :address %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Book ta poule", class: "btn button-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
