<div class="card-product">
  <div class="card-content">
    <div><%= cl_image_tag(booking.chicken.photo, width: 150) %></div>
    <div class="card-product-infos">
      <h2><%= booking.chicken.name%></h2>
      <p>Réservé chez : <%= booking.chicken.owner.fullname%></p>
      <p>Du <%= booking.start_date.strftime("%d/%m/%Y") %> au <%= booking.end_date.strftime("%d/%m/%Y") %> inclus.</p>
    </div>
    <div class="container card-price">
      <div class="price">
        <p><%= booking.total_price %> €</p>
      </div>
    </div>
    <div class="container card-status">
      <div class="button-status">
        <% if booking.status == 'En attente' %>
          <span>En attente</span>
        <% elsif booking.status == 'Confirmé' %>
          <span class="text-success">Confirmé</span>
        <% else %>
          <span class="text-danger">Refusé</span>
        <% end %>
      </div>
    </div>
  </div>
</div>
