<div class="card-product">
  <div class="card-content">
    <div><%= cl_image_tag(booking.chicken.photo, width: 150) %></div>
    <div class="card-product-infos">
      <h2><%= booking.chicken.name%></h2>
      <% if user == "owner" %>
        <p>Réservé par : <%= booking.user.fullname%></p>
      <% else %>
        <p>Réservé chez : <%= booking.chicken.owner.fullname%></p>
      <% end %>
      <p>Du <%= booking.start_date.strftime("%d/%m/%Y") %> au <%= booking.end_date.strftime("%d/%m/%Y") %> inclus.</p>
    </div>
    <div class="container card-price">
      <div class="price">
        <p><%= booking.total_price %> €</p>
      </div>
    </div>
    <div class="container card-status">
      <div class="button-status">
        <% if booking.status == 'En attente' %>
          <% if user == "owner" %>
            <%= link_to 'Accepter', accept_owner_booking_path(booking), method: :patch, class: "btn btn-validate"%>
            <%= link_to 'Refuser', decline_owner_booking_path(booking), method: :patch, class: "btn btn-decline"%>
          <% else %>
            <span>En attente</span>
          <% end %>
        <% elsif booking.status == 'Confirmé' %>
          <span class="text-success">Confirmé</span>
        <% else %>
          <span class="text-danger">Refusé</span>
        <% end %>
      </div>
    </div>
  </div>
</div>
