<footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">At Poulebook, we aim to make a better world for everyone, with chickens! We have made the best project ever to bring you the best chickens available on the market. Chickens are Humans' best friends and always will be!</p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Categories</h6>
            <ul class="footer-links">
              <li><%= link_to "Create an account", root_path %></li>
              <li><%= link_to "Create a new chicken", root_path %></li>
              <li><%= link_to "View all chickens", root_path %></li>

            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a href="https://en.wikipedia.org/wiki/Chicken">About our friends</a></li>
              <li><a href="https://www.thehappychickencoop.com/raising-chickens/#raise_chickens">How to raise chickens?</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright 2019 All Chickens Rights Reserved by The Comity of the Happy Chicken.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a href="https://twitter.com/hashtag/chicken"><%= icon('fab', 'twitter') %></a></li>
              <li><a href="https://www.linkedin.com/company/kfc/?originalSubdomain=fr"><%= icon('fab', 'linkedin') %></i></a></li>
            </ul>
          </div>
        </div>
      </div>
</footer>
